/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}

/* Set gray background color and 100% height */
.sidenav {
    padding-top: 20px;
    background-color:#000000;
    height: 100%;
}
#mainContent {

    height: 590px;
    right: 10px;

}
/* Set black background color, white text and some padding */
footer {
    background-color: #000000;
    color: white;
    padding: 10px;

}
h1, h3 {
    font-family: 'Proxima Nova';
}
.bg-1 {
    background-color: #FFFFFF; /*blue*/
    /*color: #0099ff;*/
    color: #000000;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {height:auto;}

}
