body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 230px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 21px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 230px; /* Same as the width of the sidenav */
    font-size: 21px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

li {
    list-style-type: none;

}
a:hover { text-shadow: 0 0 5px yellow;
    text-decoration: none !important; }


#imageContent {
    position: fixed;
    bottom : 10px;
    left : 230px;
    /*margin-top: -40px*/
}

#umbcimageContent {
    position: fixed;
    bottom: 10px;
    right: 10px;
}